form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

div {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

button {
    align-self: flex-start;
}